/node_modules
/storage/logs/*
/storage/views/*
# /public/debug.log
# /public/languages
/public/mu-plugins/*
!/public/mu-plugins/mu-plugins.php
/public/plugins/*
!/public/plugins/index.php

/public/themes/*/assets
/public/themes/*/admin
/public/themes/*/node_modules

/public/upgrade
/public/uploads
/public/wp

/vendor/*
!/vendor/symplate

.env
.DS_Store
auth.json
