.acf-field.acf-field-heading {

  padding-bottom: 1rem;

  & + .acf-field {
    padding-top: 0;
    border-top: 0;
  }

  .acf-label {
    display: none !important;
  }

  .field-heading {
    max-width: 36rem;

    & > * {
      margin-top: 0;
    }

    & > * + * {
      margin-top: .375rem;
    }

    &--no-message {

      .field-heading__heading {
        margin: 0;
      }

      .field-heading__message {
        display: none;
      }
    }
  }

  .field-heading__heading {
    margin: 0 0 .375rem;
    cursor: default;
    font-size: $font-size-alt;
    font-weight: 600;
    color: $body-color;
  }

  .field-heading__message {
    color: rgba($body-color, .8);
    font-size: $font-size-base;

    & > p {
      margin: 0;
    }

    & > p + p {
      margin-top: .75rem;
    }
  }
}

// admin
.field-type-icon-heading {
  &::before {
    mask-image: url(escape-svg('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24"><path d=" M 2.66 19.316 L 4.157 14.865 L 9.671 14.865 L 11.17 19.316 L 13.165 19.316 L 7.893 4.5 L 5.959 4.5 L 0.685 19.316 L 2.66 19.316 Z  M 6.947 6.736 L 9.163 13.335 L 4.67 13.335 L 6.893 6.736 L 6.947 6.736 Z  M 21.469 17.893 L 21.524 17.893 L 21.524 19.316 L 23.315 19.316 L 23.315 11.447 C 23.315 9.049 21.547 7.723 19.114 7.723 C 16.358 7.723 15.002 9.178 14.881 11.175 L 16.64 11.175 C 16.748 10.035 17.585 9.286 19.049 9.286 C 20.591 9.286 21.459 10.111 21.459 11.61 L 21.459 12.771 L 18.452 12.771 C 15.837 12.782 14.448 14.041 14.448 16.039 C 14.448 18.133 15.967 19.5 18.171 19.5 C 19.854 19.5 20.896 18.817 21.47 17.895 L 21.469 17.893 Z  M 18.67 17.949 C 17.476 17.949 16.358 17.318 16.358 15.973 C 16.358 14.941 17.031 14.203 18.593 14.203 L 21.459 14.203 L 21.459 15.527 C 21.459 16.95 20.265 17.949 18.67 17.949 Z " fill="rgb(0,0,0)"/></svg>'));
  }
}
